body{
  margin:0;
  font-family:Arial;
  background:black;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:darkblue;
  position:sticky;
  top:0;
}

nav a{
  color:white;
  margin:15px;
  text-decoration:none;
}

.loginBtn{
  background:white;
  padding:10px;
}

.signupBtn{
  background:cyan;
  padding:10px;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(black,darkblue);
}

.hero h2{
  font-size:50px;
  color:cyan;
}

.about,
.features,
.expertSection,
.searchSection,
.expertList{
  padding:50px;
  text-align:center;
}

.cards{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  width:200px;
  margin:20px;
  padding:30px;
  background:darkslateblue;
  border-radius:20px;
  transition:0.5s;
}

.card:hover{
  transform:scale(1.1);
}

input{
  display:block;
  margin:15px auto;
  padding:15px;
  width:300px;
}

button{
  cursor:pointer;
  border:none;
  border-radius:10px;
}

.expertCard{
  background:darkblue;
  margin:20px auto;
  padding:20px;
  width:300px;
  border-radius:20px;
}

.modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;
}

.form{
  background:white;
  color:black;
  padding:30px;
  border-radius:20px;
}

footer{
  background:darkblue;
  text-align:center;
  padding:30px;
}